<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../../layout/head') %>
  </head>
  <body>
    <%- include('../../layout/header') %>
    <main>
        <ul>
            <li>
              <img src=<%= book.image %>>
             <h3> <%= book.title %> </h3>
              <i><%= book.author %></i>
              <p><%= book.description %></p>
              <p>
                    <%= book.isbn %>
                  </p>
                
              <form method="post" action="/books:id"> 
                <input type="hidden" name="_method" value="put">

                <%- include('../../layout/edit', {books: books}) %>
                
                <select>
                  <% booksArray.forEach( book => { %>
                  <option><%= book.booksArray %></option>
                  <% }) %>
                </select>
                <button type="submit"> Update Details </button>
              </form>
            </li>
          </ul>
    </main>
    <%- include('../../layout/footer') %>
</html>





