<!DOCTYPE html>
<html>
  <%- include('../../layout/head') %>
  <body>
    <%- include('../../layout/header') %>
    <main>
      <h4>Book Update</h4>
      <div class="searchFormDiv">
        <form action="/update/<%- book.id %>" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="id" value='<%= book.id %>'>
          <fieldset>
            <label for="title">
              <input type="text" name="title" value="<%- book.title %>" >
            </label>
          </fieldset>
          <fieldset>
            <label for="author">
              <input type="text" name="auther" value="<%- book.author %>" >
            </label>
          </fieldset>
          <fieldset>
            <label for="description">
              <input type="text" name="description" value="<%- book.description %>" >
            </label>
          </fieldset>
          <fieldset>
            <label for="image_url">
              <input type="text" name="image_url" value="<%- book.image_url %>" >
            </label>
          </fieldset>
          <fieldset>
            <label for="isbn">
              <input type="text" name="isbn" value="<%- book.isbn %>" >
            </label>
          </fieldset>
          <button type="submit">Add to Database</button>
        </form>
      </div>
    </main>
    <%- include('../../layout/footer') %>
  </body>
</html>
