<!DOCTYPE html>
<html lang="en">
  <head>
    <title>show</title>
    <link rel="stylesheet" href="../../public/styles/base.css">
    <link rel="stylesheet" href="../../public/styles/icons.css">
    <link rel="stylesheet" href="../../public/styles/layout.css">
    <link rel="stylesheet" href="../../public/styles//modules.css">
    <link rel="stylesheet" href="../../public/styles//reset.css">
  </head>
  <body>
    <main>
      <h4 id="searchResults">Search Results</h4>


      <% booksArray.forEach(book => { %>
        <div class="booksDiv">
          <p><img src="<%= book.image_url %>"></p>
          <p>
            <%= book.title %>
          </p>
          <p>
            <%= book.author %>
          </p>
          <p class="description">
            <%= book.description %>
          </p>
          <p class="isbn">
            <%= book.isbn %>
          </p>
          <a href="/searches/<%= book.isbn %>">Save book to bookshelf</a>
          <a href="/details/<%= book.isbn %>">View details</a>
        </div>
        <% }); %>
      
      
      </main>
  </body>
</html>