<!DOCTYPE html>
<html>
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <h3>Saved Books</h3>
    <div class="container">
      <main>
        <% booksArray.forEach(book => { %>
          <div class="booksDiv">            
            <div class="contentDiv">
              <h4><%= book.title %></h4>
              <h4><%= book.author %></h4>
              <p class="description">
                <%= book.description %>
              </p>
              <h4 class="isbn"><%= book.isbn %></h4>
            </div>
            <div class="imageDiv">
              <h4>Book Cover</h4>
              <img src="<%= book.image_url %>">
            </div>
          </div>
          <form action="/detail/<%= book.id %>" method="post" >
            <input type="hidden" name="id" value='<%= book.id %>'>
            <input type="hidden" name="title" value='<%= book.title %>'>
            <input type="hidden" name="author" value='<%= book.author %>'>
            <input type="hidden" name="description" value='<%= book.description %>'>
            <input type="hidden" name="image_url" value='<%= book.image_url %>'>
            <input type="hidden" name="isbn" value='<%= book.isbn %>'>
            <button>View Details</button>
          </form>
        <% }); %>
      </main>
    </div>
    <%- include('../layout/footer') %>
  </body>
</html>
