<!DOCTYPE html>
<html>
  <head>
    <title>Lab 11</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <!-- <link rel="stylesheet" href="/styles/reset.css"> -->
  </head>
  <body>
    <main>
        <h1>Best Books</h1>
        <nav>
          <a href="">Home</a>
          <a href="/searches">Search Google API Books</a>
        </nav>
        <h4>Saved Books</h4>
        <% booksArray.forEach(book => { %>
          <div class="booksDiv">
            <p><img src="<%= book.image_url %>"></p>
            <p>
              <%= book.title %>
            </p>
            <p>
              <%= book.author %>
            </p>
            <p class="description">
              <%= book.description %>
            </p>
            <p class="isbn">
              <%= book.isbn %>
            </p>
            <!-- <a href="/searches/<%= book.isbn %>">Save book to bookshelf</a>
            <a href="/details/<%= book.isbn %>">View details</a> -->
          </div>
          <% }); %>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </body>
</html>
